body {
    margin: 0;
    background-color: rgb(209, 209, 205);
}

.logo-header {
    background-color: #8a8a89;
    height: 245px;
}

.logo {
    margin-left: 15px;
}

img {
    margin-top: -27px;
    height: 350px;

}