body {
    margin: 0;
    background-color: rgb(227, 227, 214);
}

.logo-header {
    background-color: #bab9b5;
    height: 105px;
}

.logo {
    margin-left: 15px;
}

img {
    margin-top: -21px;
    height:165px;

}